# OS
.DS_Store
._.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example

# Local config
.node-version
.npmrc.local
.pnpmfile.cjs

# Build artifacts
.cache/
.type-coverage/
coverage/
dist/
*.tsbuildinfo
*.tgz

# Editors
.vscode/
!.vscode/settings.json
.idea/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/
yarn.lock
