.DS_Store
._.DS_Store
Thumbs.db
/.claude
/.env
/.env.local
/.env.*.local
/.node-version
/.nvm
/.pnpmfile.cjs
/.type-coverage
/.vscode
/npm-debug.log
/yarn.lock

# Editor files
*.swp
*.swo
#*#
.#*
**/.cache
**/coverage
**/dist
**/html
**/node_modules
**/*.tgz
**/*.tmp
**/*.tsbuildinfo

# Allow specific files
!/.vscode/settings.json
