ignore-scripts=true
link-workspace-packages=false
loglevel=error
prefer-workspace-packages=false
trust-policy=no-downgrade
trust-policy-exclude[]=@yarnpkg/core@4.5.0
trust-policy-exclude[]=@yarnpkg/libzip@3.2.2
